input, textarea {
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

input:focus, textarea:focus {
    outline: none;
    border-color: #4CAF50;
}